body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

section#content {
    background-color: #f9f9f9;
}

div#main-page{
    padding-left: 300px;
}

.side-nav{
    width: 250px;
}

.user-details{
    background: url(../img/user-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 15px;
    padding: 15px 0 0 15px;
}

ul.side-nav .profile-btn {
    margin: 0;
    text-transform: capitalize;
    padding: 0;
    text-shadow: 1px 1px 1px #444;
    font-size: 15px;
}

.side-nav a {
    line-height: 42px;
    height: 42px;
    padding: 0 60px;
}

.side-nav.fixed a {
    display: block;
    color: mintcream;
}

.side-nav li a i {
    line-height: inherit;
    width: 2rem;
    font-size: 1.6rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}


ul.side-nav li {
    line-height: 44px;
}



ul.side-nav.fixed li a {
    font-size: 14px;
    font-weight: 400;
}

ul.side-nav.fixed li.user-details #profile-dropdown a {
    padding: 8px 15px;
}



.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    line-height: 16px;
    margin: 2px 09px 0 0;
    height: 22px;

}


.user-roal {
    color: #fff;
    margin-top: -16px;
    font-size: 13px;
    text-shadow: 1px 1px 1px #444;
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background-color: white;
}

ul#profile-dropdown.dropdown-content.active {
    top: 57px !important;
    display: block;
}

.dropdown-content li {
    clear: none;
}



nav {
     box-shadow: none;
     background-color: #f3f3f3;
}

@media only screen and (min-width: 993px) {
    .container#main {
        width: 80%;
        padding-left: 175px;
    }
}

@media only screen and (min-width: 991px) {
    nav#out {
        height: 64px; 
        line-height: 64px;
    }
}


@media only screen and (min-width : 320px) and (max-width : 602px) {

    h3.title-txt {
        margin: 0;
        padding-top: 10px;
        font-size: 100%;
    }

}

@media only screen and (min-width : 603px) and (max-width : 990px) {

    h3.title-txt {
        margin: 0;
        padding-top: 10px;
    }

}



@media only screen and (min-width : 991px) {
    h3.title-txt {
        margin: 0;
        padding-top: 20px;
        padding-left:300px;
    }

    nav {
        height: 98px;
        line-height: 64px;
    }
}

div#main.container {
    margin-top: 25px;
}

/*------------aparte-----------------*/

ul.side-nav.fixed li.active {
    background-color: rgba(0,0,0,0.05);
}

.no-padding {
    padding: 0 !important;
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header {
    padding: 0 60px;
}

.side-nav .collapsible-body {
    padding: 0;
}

ul.side-nav.fixed ul.collapsible-accordion .collapsible-body li a {
    font-weight: 400;
    padding: 0 0px 0 70px;
    background-color: antiquewhite;
}

/*body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 40px solid slategrey;
}*/


ul.side-nav.fixed::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

ul.side-nav.fixed::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

ul.side-nav.fixed::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(183,183,183,.75);
}

.iconos-menu {
    position: fixed;
    margin: 8px 3px 9px 20px;
    color: mintcream;
}

img#profile {
    border: 0;
    width: 100%;
    border-radius: 50%;
}

.sub-iconos {
    position: fixed;
    margin: 8px 3px 9px 40px;
}

.sub-menu {
    padding-left: 40px;
}

@media only screen and (min-width: 601px) {

    .row #profile-img.col.m6 {
        margin-top: 150px;
    }
}

div.pagina {
    flex: 1 0 auto;
    margin-top: 50px;
    margin-bottom: 40px; 
}


/*  Acciones de la pagina principal */
@media only screen and (min-width : 320px) and (max-width : 602px) {

    div.pagina {
        width: 100%;
        padding: 20px;
    }

}

@media only screen and (min-width : 603px) and (max-width : 990px) {

    div.pagina {
        width: 100%;
        padding: 30px;
    }
}

@media only screen and (min-width : 991px) {
    
    div.pagina {
        width: 100%;
        padding-left: 310px;
        padding-right: 65px;
    }

    div.end {
        width: 100%;
        padding-left: 250px;
    }
}

div#imagesv {
    padding-top: 40px;
    padding-bottom: 40px;
}

.dropdown-content li a.options_menu {
    height: 100%;
}

.side-nav.fixed {
    background-color: currentColor;
}